<ion-header class="header">
  <ion-toolbar color="primary">
    <div class="header-container">
      <!-- Columna izquierda: Logo y título fijo -->
      <div class="header-left">
        <img src="assets/icon/favicon.ico" alt="Logo Vehículo" class="header-logo" />
        <ion-title class="header-title">Sistema Integral de Flota</ion-title>
      </div>
      <!-- Columna derecha: Notificaciones y perfil de usuario -->
      <div class="header-right">
        <app-icono-alerta [count]="notificationCount"></app-icono-alerta>
        <app-dropdown-usuario></app-dropdown-usuario>
      </div>
    </div>
  </ion-toolbar>
</ion-header>