:host {
    ion-content {
      --background: #ffffff;
      position: relative;
    }
  
    .center-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      max-width: 400px;
      padding: 16px;
      box-sizing: border-box;
      animation: fadeInUp 0.6s ease-out;
    }
  
    /* Estilos para la imagen */
    .logo-container {
      text-align: center; /* Centra la imagen */
      margin-bottom: 30px; /* Separa la imagen del formulario */
    }
  
    .logo {
      width: 120px; /* Ajusta el tamaño de la imagen */
      height: auto; /* Mantén la proporción */
    }
  
    form {
      display: flex;
      flex-direction: column;
  
      ion-item {
        margin-bottom: 12px;
        border-radius: 8px;
      }
  
      .error-message {
        font-size: 13px;
        margin-top: -8px;
        margin-bottom: 12px;
      }
  
      ion-button[type='submit'] {
        margin-top: 16px;
        font-weight: bold;
        border-radius: 10px;
        --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        --background-hover: linear-gradient(45deg, #1e3c72, #0a70b1);
        background: linear-gradient(45deg, #0a70b1, #1e3c72);
        transition: background 0.3s ease, transform 0.2s ease;
      }
  
      ion-button[type='submit']:hover {
        transform: scale(1.05);
      }
  
      /* Estilos específicos para la flecha del ion-select */
      ion-select {
        --padding-start: 8px; /* Ajusta el espaciado interno del select */
      }
  
      ion-select .select-icon {
        margin-top: 4px; /* Ajusta la flecha para centrarla */
      }
    }
  
    @keyframes fadeInUp {
      /* No se necesita animación, se puede eliminar o dejarlo vacío */
    }
  }
  