<ion-header class="header">
  <ion-toolbar color="primary">
    <div class="header-container">
      <!-- Columna izquierda: Botón de menú, Logo y título -->
      <div class="header-left">
        <ion-menu-toggle>
          <ion-button fill="clear" color="light">
            <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        <img src="assets/icon/favicon.ico" alt="Logo Vehículo" class="header-logo" />
        <ion-title class="header-title">Sistema Integral de Flota</ion-title>
      </div>
      <!-- Columna derecha: Notificaciones y perfil de usuario -->
      <div class="header-right">
        <app-icono-alerta [count]="notificationCount"></app-icono-alerta>
        <app-dropdown-usuario></app-dropdown-usuario>
      </div>
    </div>
  </ion-toolbar>
</ion-header>