<ion-header class="header">
  <ion-toolbar color="primary">
    <div class="header-container">
      <!-- Columna izquierda: Botón de menú, Logo y título -->
      <div class="header-left">
        <ion-menu-toggle>
          <ion-button fill="clear" color="light">
            <ion-icon name="menu-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-menu-toggle>
        <img
          src="assets/icon/favicon.ico"
          alt="Logo Vehículo"
          class="header-logo"
        />
        <ion-title class="header-title">Sistema Integral de Flota</ion-title>
      </div>

      <div class="header-right">
        <ion-label class="username-text">{{ currentUserName }}</ion-label>

        <img
          class="profile-picture"
          src="assets/foto_perfil/perfil_ejemplo.jpg"
          alt="Foto de perfil"
        />
        <app-dropdown-usuario></app-dropdown-usuario>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
