@media (min-width: 768px) {
    /* Oculta el botón de menú en escritorio */
    ion-menu-button[menu="first"] {
      display: none;
    }
    
    /* Aplica margen al encabezado si lo deseas */
    .encabezado {
      margin-left: 20%;
    }
  }

.encabezado {
  box-shadow: none; /* Elimina cualquier sombra */
  border-bottom: none; /* Elimina cualquier borde inferior */
}

.encabezado,
.encabezado ion-toolbar {
  background-color: #fff !important;
}

.encabezado ion-toolbar {
  height: 72px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 0px; /* Margen entre el logo y el título */
  margin-left: 2px;
  height: 100%; /* Mantiene la altura del toolbar */
}

.logo-img {
  height: 68px;      /* Tamaño fijo */
  width: auto;       /* Mantiene la proporción original del logo */
  border-radius: 8px; /* Redondea los bordes */
  opacity: 0.9;      /* Efecto desvanecido */
  filter: blur(0.5px); /* Difuminado sutil */
}

/* Nuevo estilo para el texto del logo */
.logo-text {
  font-size: 1rem;       /* Tamaño adecuado */
  font-weight: 500;
  color: white;          /* Ajusta el color según tu paleta */
  margin-left: 8px;      /* Espacio entre el logo y el texto */
  white-space: nowrap;   /* Evita que se divida en dos líneas */
}

.right-buttons-container ion-icon {
  font-size: 24px; /* Ajusta este valor según el tamaño deseado */
}