  <div class="modal-container">
    <div *ngIf="iconName" class="icon-container">
      <ion-icon [name]="iconName" [ngClass]="'icon-' + icon" class="alert-icon"></ion-icon>
    </div>
    <h2 class="alert-title">{{ title }}</h2>
    <p class="alert-message" [innerHTML]="message"></p> <!-- Usa innerHTML si necesitas renderizar HTML simple -->
  </div>

  <!-- Botones -->
   <div class="button-container">
      <ion-button *ngFor="let button of buttons"
            [ngClass]="{
              'btn-primary': button.variant === 'primary',
              'btn-secondary': button.variant === 'secondary',
              'btn-danger': button.variant === 'danger'
            }"
            (click)="handleButtonClick(button)"
            expand="block"
            shape="round"
            class="alert-button"
            [attr.aria-label]="button.text"
            role="button"> 
            {{ button.text }}
      </ion-button>
    </div>