
ion-card-content {
    min-height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 10px; 
}