<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="planForm" (ngSubmit)="onSubmit()">
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="infoGeneral">
          <ion-label>Información General</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tareasPlanificacion">
          <ion-label>Tareas</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

      <ion-tab tab="infoGeneral">
        <ion-content>
          <ion-label position="floating">Nombre del Mantenimiento <ion-text color="danger">*</ion-text></ion-label>
          <ion-input class="custom-input" id="descPlan" formControlName="descPlan" type="text" maxlength="255" [readonly]="isViewMode" placeholder="Ej: Mantenimiento General de Vehículos Pesados"></ion-input>
            <!-- Para campos normales: -->
            <div *ngIf="hasFieldError('descPlan')" class="error-message">
              <ion-text color="danger">{{ getFieldErrorMessage('descPlan', f['descPlan'].errors) }}</ion-text>
            </div>
          
          <ion-row>
            <ion-col size-xs="12" size-sm="6">
              <ion-label>Tipo de Frecuencia <ion-text color="danger">*</ion-text></ion-label>              <ion-select class="custom-select" id="tipoFrecuencia" formControlName="tipoFrecuencia" interface="popover" placeholder="Seleccionar"
                [disabled]="isViewMode"
                (ionChange)="onTipoFrecuenciaChange($event)">
                <ion-select-option value="km">Kilómetros</ion-select-option>
                <ion-select-option value="dias">Días</ion-select-option>
                <ion-select-option value="semanas">Semanas</ion-select-option>
                <ion-select-option value="meses">Meses</ion-select-option>
              </ion-select>
                <div *ngIf="hasFieldError('tipoFrecuencia')" class="error-message">
                <ion-text color="danger">{{ getFieldErrorMessage('tipoFrecuencia', f['tipoFrecuencia'].errors) }}</ion-text>
              </div>
            </ion-col>
            <ion-col size-xs="12" size-sm="6">
              <ion-label>
                Frecuencia
                <ng-container *ngIf="tipoFrecuenciaSeleccionado">
                  en
                  {{
                    tipoFrecuenciaSeleccionado === 'km' ? 'KM' :
                    tipoFrecuenciaSeleccionado === 'dias' ? 'Días' :
                    tipoFrecuenciaSeleccionado === 'semanas' ? 'Semanas' :
                    tipoFrecuenciaSeleccionado === 'meses' ? 'Meses' : ''
                  }}
                </ng-container>
                <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input class="custom-input" id="frecuencia" formControlName="frecuencia" type="number" min="1"
                [readonly]="isViewMode || !tipoFrecuenciaSeleccionado"
                [disabled]="isViewMode"></ion-input>
                <div *ngIf="hasFieldError('frecuencia')" class="error-message">
                <ion-text color="danger">{{ getFieldErrorMessage('frecuencia', f['frecuencia'].errors) }}</ion-text>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Vehículos Asignados <ion-text color="danger">*</ion-text></ion-label>
              <ion-select class="custom-select" id="vehiculosIds" formControlName="vehiculosIds" multiple="true" interface="popover" placeholder="Seleccionar uno o más vehículos" cancelText="Cancelar" okText="Aceptar" [disabled]="isViewMode">
                <ion-select-option *ngFor="let vehiculo of vehiculosDisponibles" [value]="vehiculo.idVehi">
                  {{ vehiculo.patente }} ({{ vehiculo.marca }} {{ vehiculo.modelo }})
                </ion-select-option>
              </ion-select>
                <div *ngIf="hasFieldError('vehiculosIds')" class="error-message">
                <ion-text color="danger">{{ getFieldErrorMessage('vehiculosIds', f['vehiculosIds'].errors) }}</ion-text>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12">
              <ion-label>Tipo de Mantenimiento</ion-label>
              <div>
                <ion-button [class.selected]="esPreventivo" (click)="setPreventivo(true)" [disabled]="isViewMode">
                  <ion-icon name="build-outline" slot="start"></ion-icon>
                  Preventivo
                </ion-button>
                <ion-button [class.selected]="!esPreventivo" (click)="setPreventivo(false)" [disabled]="isViewMode">
                  <ion-icon name="construct-outline" slot="start"></ion-icon>
                  Correctivo
                </ion-button>
              </div>
              
              <ion-col size-xs="12" size-sm="6">
                <ion-label>Plan Activo</ion-label>
                <ion-toggle formControlName="esActivoPlan" slot="end" color="success" [disabled]="isViewMode"></ion-toggle>
              </ion-col>
            </ion-col>
          </ion-row>
        </ion-content>
      </ion-tab>

      <ion-tab tab="tareasPlanificacion">
        <ion-content>
          <div *ngIf="tareas.invalid && (tareas.dirty || tareas.touched || isSubmitted) && tareas.hasError('minlength')">
            Debe agregar al menos una tarea válida.
          </div>

          <div formArrayName="tareas">
            <ion-card *ngFor="let tareaCtrl of tareas.controls; let i=index" [formGroupName]="i">
              <ion-card-content>
                <div>
                  <div class="fila">
                    <ion-label><strong> Nombre Tarea </strong> <ion-text color="danger">*</ion-text></ion-label>
                    <ion-button *ngIf="!isViewMode" (click)="eliminarTarea(i)" fill="clear" color="danger" size="small">
                      <ion-icon position="floating" name="trash-outline" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                  <ion-input class="custom-input" [id]="'tarea-' + i + '-nombre'" formControlName="nomTareaPlan" type="text" maxlength="150" [readonly]="isViewMode" placeholder="Ej: Cambio de aceite motor"></ion-input>
                </div>
                  <!-- Para campos de tareas: -->
                    <div *ngIf="hasTareaFieldError(i, 'nomTareaPlan')" class="error-message">
                      <ion-text color="danger">{{ getTareaFieldErrorMessage('nomTareaPlan', tareas.at(i).get('nomTareaPlan')?.errors) }}</ion-text>
                    </div>
          
                <div>
                  <ion-label position="floating"><strong> Descripción Tarea </strong></ion-label>
                  <ion-textarea class="custom-input" [id]="'tarea-' + i + '-descripcion'" formControlName="descTareaPlan" rows="2" autoGrow="true" maxlength="500" [readonly]="isViewMode" placeholder="Ej: Drenar aceite usado, reemplazar filtro, añadir aceite nuevo según especificaciones."></ion-textarea>
                </div>
                  <div *ngIf="hasTareaFieldError(i, 'descTareaPlan')" class="error-message">
                  <ion-text color="danger">{{ getTareaFieldErrorMessage('descTareaPlan', tareaCtrl.get('descTareaPlan')?.errors) }}</ion-text>
                </div>
              </ion-card-content>
            </ion-card>
          </div>
          <ion-button *ngIf="!isViewMode" expand="block" type="button" (click)="agregarTarea()" color="tertiary">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Agregar Otra Tarea
          </ion-button>
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </form>
</ion-content>

<div>
  <ion-button 
    *ngIf="!isViewMode" 
    type="submit" 
    expand="block" 
    [color]="isEditMode ? 'edit-button' : 'add-button'"
    (click)="onSubmit()">
    <ion-icon [name]="isEditMode ? 'save-outline' : 'add-circle-outline'" slot="start"></ion-icon>
    {{ isEditMode ? 'Actualizar Mantenimiento' : 'Crear Mantenimiento' }}
  </ion-button>
  
  <ion-button 
    *ngIf="isViewMode" 
    expand="block" 
    color="cancel-button"
    (click)="closeModal()">
    <ion-icon name="close-outline" slot="start"></ion-icon>
    Cerrar
  </ion-button>
</div>