<div class="user-profile-container">
  <ion-button
    id="user-menu-button"
    fill="clear"
    (click)="openUserMenu($event)"
    aria-haspopup="true"
    aria-controls="user-menu-popover"
    aria-label="Abrir menú de usuario"
  >
    <div class="user-info"></div>
    <ion-icon
      name="chevron-down-outline"
      [ngClass]="{ rotate: showPopover }"
    ></ion-icon>
  </ion-button>

  <ion-popover
    id="user-menu-popover"
    role="menu"
    trigger="user-menu-button"
    [isOpen]="showPopover"
    [event]="popoverEvent"
    (didDismiss)="closePopover()"
    side="bottom"
    alignment="end"
    class="user-options-popover"
    [dismissOnSelect]="false"
    [showBackdrop]="false"
  >
    <ng-template>
      <ion-list class="popover-menu">
        <ion-item button role="menuitem" (click)="goToProfile()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item button role="menuitem" (click)="openSettings()">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Configuración</ion-label>
        </ion-item>
        <ion-item
          button
          role="menuitem"
          class="logout"
          (click)="mostrarAlertaLogout()"
        >
          <ion-icon
            name="log-out-outline"
            slot="start"
            class="logout-icon"
          ></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </ion-popover>
</div>
