<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-outline" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="asignacionForm" (ngSubmit)="submitForm()">
    <ion-tabs>
      <ion-tab-bar slot="top">
        <ion-tab-button tab="infoBasica">
          <ion-label>Información Básica</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="infoFinalizacion">
          <ion-label>Datos de Finalización</ion-label>
        </ion-tab-button>
      </ion-tab-bar>

      <ion-tab tab="infoBasica">
        <ion-content>
          <!-- Conductor -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Conductor <ion-text color="danger">*</ion-text></ion-label>
              <ion-select class="custom-select" formControlName="usuarioIdUsu" interface="popover" placeholder="Seleccionar conductor" [disabled]="isViewMode">
                <ion-select-option *ngFor="let conductor of conductores" [value]="conductor.idUsu">
                  {{ conductor.priNomUsu }} {{ conductor.priApeUsu }}
                </ion-select-option>
              </ion-select>
              <div *ngIf="hasFieldError('usuarioIdUsu')" class="error-message">
                <ion-text color="danger">{{ getFieldErrorMessage('usuarioIdUsu', f['usuarioIdUsu'].errors) }}</ion-text>
              </div>
            </ion-col>
          </ion-row>

          <!-- Ruta -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Ruta (Plantilla) <ion-text color="danger">*</ion-text></ion-label>
              <ion-select class="custom-select" formControlName="rutaIdRuta" interface="popover" placeholder="Seleccionar ruta" [disabled]="isViewMode">
                <ion-select-option *ngFor="let ruta of rutasPlantilla" [value]="ruta.idRuta">
                  {{ ruta.nombreRuta }} ({{ ruta.kilometrosRuta | number:'1.1-2' }} km aprox.)
                </ion-select-option>
              </ion-select>
              <div *ngIf="hasFieldError('rutaIdRuta')" class="error-message">
                <ion-text color="danger">{{ getFieldErrorMessage('rutaIdRuta', f['rutaIdRuta'].errors) }}</ion-text>
              </div>
            </ion-col>
          </ion-row>

          <!-- Vehículo -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Vehículo <ion-text color="danger">*</ion-text></ion-label>
              <ion-select class="custom-select" formControlName="vehiculoIdVehi" interface="popover" placeholder="Seleccionar vehículo" [disabled]="isViewMode" (ionChange)="onVehiculoChange($event)">
                <ion-select-option *ngFor="let vehiculo of vehiculos" [value]="vehiculo.idVehi">
                  {{ vehiculo.patente }} - {{ vehiculo.marca }} {{ vehiculo.modelo }}
                </ion-select-option>
              </ion-select>
              <div *ngIf="hasFieldError('vehiculoIdVehi')" class="error-message">
                <ion-text color="danger">{{ getFieldErrorMessage('vehiculoIdVehi', f['vehiculoIdVehi'].errors) }}</ion-text>
              </div>
            </ion-col>
          </ion-row>

          <!-- Fecha y Hora de Inicio -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Fecha y Hora de Inicio <ion-text color="danger">*</ion-text></ion-label>              <ion-input 
                class="custom-input"
                type="datetime-local" 
                formControlName="fecIniRecor" 
                required
                [readonly]="isViewMode">
              </ion-input>
              <div *ngIf="hasFieldError('fecIniRecor')" class="error-message">
                <ion-text color="danger">{{ getFieldErrorMessage('fecIniRecor', f['fecIniRecor'].errors) }}</ion-text>
              </div>
            </ion-col>
          </ion-row>
          
          <!-- Kilometraje Inicial -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Kilometraje Inicial <ion-text color="danger">*</ion-text></ion-label>              <ion-input 
                class="custom-input"
                type="number" 
                formControlName="kmIniRecor" 
                required
                min="0"
                placeholder="Ej: 150000"
                [readonly]="isViewMode">
              </ion-input>
              <div *ngIf="hasFieldError('kmIniRecor')" class="error-message">
                <ion-text color="danger">{{ getFieldErrorMessage('kmIniRecor', f['kmIniRecor'].errors) }}</ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-content>
      </ion-tab>

      <ion-tab tab="infoFinalizacion">
        <ion-content>
          <!-- Estado de la Asignación -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Estado de la Asignación <ion-text color="danger">*</ion-text></ion-label>
              <ion-select class="custom-select" formControlName="estadoAsig" interface="popover" placeholder="Seleccionar estado" [disabled]="isViewMode">
                <ion-select-option *ngFor="let estado of estadosAsignacion" [value]="estado">
                  {{ estado | titlecase }}
                </ion-select-option>
              </ion-select>
              <div *ngIf="hasFieldError('estadoAsig')" class="error-message">
                <ion-text color="danger">{{ getFieldErrorMessage('estadoAsig', f['estadoAsig'].errors) }}</ion-text>
              </div>
            </ion-col>
          </ion-row>

          <!-- Fecha y Hora de Fin -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Fecha y Hora de Fin</ion-label>              <ion-input 
                class="custom-input"
                type="datetime-local" 
                formControlName="fecFinRecor"
                [readonly]="isViewMode">
              </ion-input>
            </ion-col>
          </ion-row>
          
          <!-- Kilometraje Final -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Kilometraje Final</ion-label>              <ion-input 
                class="custom-input"
                type="number" 
                formControlName="kmFinRecor" 
                min="0"
                placeholder="Ej: 150250"
                [readonly]="isViewMode">
              </ion-input>
              <div *ngIf="f['kmFinRecor'].invalid && (f['kmFinRecor'].dirty || f['kmFinRecor'].touched || isSubmitted)">
                <div *ngIf="f['kmFinRecor'].errors?.['min']">El kilometraje no puede ser negativo.</div>
              </div>
            </ion-col>
          </ion-row>

          <!-- Eficiencia Combustible -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Eficiencia Combustible (km/l)</ion-label>              <ion-input 
                class="custom-input"
                type="number" 
                formControlName="efiCombRecor" 
                placeholder="Ej: 10.5"
                [readonly]="isViewMode">
              </ion-input>
            </ion-col>
          </ion-row>

          <!-- Notas -->
          <ion-row>
            <ion-col size="12">
              <ion-label position="floating">Notas Adicionales</ion-label>              <ion-textarea 
                class="custom-input"
                formControlName="notas" 
                rows="3"
                [readonly]="isViewMode">
              </ion-textarea>
            </ion-col>
          </ion-row>
        </ion-content>
      </ion-tab>
    </ion-tabs>
  </form>
</ion-content>

<div>
  <ion-button 
    *ngIf="!isViewMode" 
    type="submit" 
    expand="block" 
    [color]="isEditMode ? 'edit-button' : 'add-button'"
    (click)="submitForm()">
    <ion-icon [name]="isEditMode ? 'save-outline' : 'add-circle-outline'" slot="start"></ion-icon>
    {{ isEditMode ? 'Actualizar Asignación' : 'Crear Asignación' }}
  </ion-button>
  
  <ion-button 
    *ngIf="isViewMode" 
    expand="block" 
    color="cancel-button"
    (click)="closeModal()">
    <ion-icon name="close-outline" slot="start"></ion-icon>
    Cerrar
  </ion-button>
</div>
