// Quita cualquier estilo anterior y reemplázalo con esto

ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 5px;
}

ion-input, ion-select {
    --border-radius: 12px !important; // Para la propiedad shape="round"
}

.error-container {
    padding: 0 16px 10px 16px; // Espaciado para los mensajes de error
    text-align: left;
    font-size: 0.8rem;
}

ion-button[type="submit"] {
    height: 48px;
    font-weight: bold;
}